.movieItem {
  display: flex;
  padding: 0.25rem 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.movieItem:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.movieItem__img {
  width: 25%;
}

.movieItem__info {
  width: 75%;
  margin-left: 10px;
}

.movieItem__img img {
  width: 100%;
}

.movieItem__info--title {
  font-size: 1.25rem;
  margin-bottom: 0;
}

.movieItem__info--year {
  font-weight: bold;
  margin-top: 0%;
}
